@model List<PizzaModel>

@{
    Layout = "_MioLayout";
}



            <div class="container mt-5">
                     <div class="col-12 bg-secondary border border-3">
                             <h3 style="color: darkorange; font-family: 'Pacifico', cursive;">MENU' DELLE PIZZE</h3>
                     </div>
            </div>

<div class="row">

            @if (User.IsInRole("ADMIN"))
            {
                        <div class="col-12">
                            <a class=" ms-5 btn btn-primary" href="@Url.Action("Creazione", "Pizza")">
                                Inserisci pizza nel menu
                            </a>
                        </div> 
            }

     <div class="row my-3">
        <div class="col-10 mx-auto">

            <table class="table bg-secondary bg-opacity-50">
                <thead>
                        <tr class="background_color_orange" style="color: red; font-weight: bold">
                            <th scope="col" class="border border-3" style="font-size: 30px;">Pizza &#x1F355</th>
                            <th scope="col" class="border border-3" style="font-size: 30px;">Ingredienti &#128221;</th>
                            <th scope="col" class="border border-3" style="font-size: 30px;">Illustrazione Rappresentativa &#x1F50D</th>
                            <th scope="col" class="border border-3" style="font-size: 30px;">Prezzo &#x1F4B5</th>
                        </tr>
                </thead>
                            
                <tbody>


                    @foreach (PizzaModel pizza in Model)
                    {


                        <tr style="color: darkorange; font-weight: bold">
                            <th class="border border-3" scope="row">@pizza.NomePizza</th>
                            <td class="border border-3">@pizza.Descrizione</td>
                            <td class="border  border-3"><a href="@Url.Action("SingolaPizza", "Home", new { id = pizza.Id })"><img class="img-fluid img_square" height="200" width="150" src="@pizza.Immagine" alt="@pizza.NomePizza"></a></td>
                            <td class="border border-3">@pizza.Prezzo €</td>
                            <td><a class="btn btn-info btn-sm" href="@Url.Action("SingolaPizza", "Home", new { id = pizza.Id })">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                        </a>
                                    <!-- Solo ADMIN -->
                                    @if (User.IsInRole("ADMIN"))
                                    {
                                         <a class="btn btn-warning btn-sm mt-2" href="@Url.Action("modificaPizza", "Pizza", new {id = pizza.Id})">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                                         </a>
                                         <form asp-controller="Pizza" asp-action="eliminaPizza" asp-route-id="@pizza.Id" method="post">
                                         @Html.AntiForgeryToken()
                                         <button type="submit" class="btn btn-danger btn-sm mt-2">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                         </button>  </form>     
                                    }
                            </td>
                            
                        </tr>


                    }
                                           


                </tbody>
           
            </table>

        </div>
     </div>
    
</div>


               