@*
    
@using LaMiaPizzeria.Models.Nuovacartella
@model ProfileListPizzaMode


@if (Model.ResultPizzaMode.Count == 0)
{
    <h2>Non ho trovato articoli con la ricerca "@Model.SearchString"!</h2>
}
else
{
    <h2>Ho trovato i seguenti articoli con la ricerca "@Model.SearchString":</h2>
    <ol>
        @foreach (Pizza pizza in Model.ResultPizzaModel)
        {
            <li>@PizzaModel.Title - @PizzaModel.Description</li>
        }

    </ol>
}

<p>Profilo attualmente connesso: @Model.Profile.Name @Model.Profile.Surname, @Model.Profile.Age</p>

*@
